<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файла</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Перетащите файл или нажмите для загрузки</h1>
    <div id="drop-area">
        <form id="upload-form">
            <input type="file" id="fileElem" multiple accept="image/*,.txt" onchange="handleFiles(this.files)">
            <label for="fileElem">Выберите файл</label>
        </form>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
